html{
    height: 100%;
}

body{
    height:100%;
    margin: 0;
    background-color: #212932;
    color: #dfe1e8;
    display: flex;
    flex-direction: column;
    font-family: 'Sunflower', sans-serif;
}

h1{
    font-size: 4em;
    margin: 1rem;
}

.main-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    font-family: inherit;
}

.btn{
    margin: 1em 0;
    border: 1px solid transparent;
    background-color: #6c757d;
    padding: 8px;
    text-align: center;
    transition: background-color .15s ease-out;
    color: #fff;
    font-size: 16px;
}

.btn:hover{
    background-color: #5a6268;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-rounded{
    border-radius: .3rem;
}

.btn-warning {
    background-color: #ff0000;
}

.btn-warning:hover{
    background-color: #ff6666;
}

.count-buttons{
    width: 90%;
    max-width: 600px;
}

.count-buttons .btn{
    font-size: 2rem;
    font-weight: 700;
}

.text-center{
    text-align: center;
}

header, footer{
    background: #3f4f60;
}

footer{
    padding: 20px;
}

footer a{
    color: #bfbfbf;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

#count{
    font-size: 6em;
}

#increase{
    padding: 3rem;
}
